<footer class="app-footer">
  <div class="app-footer__left">
    <span class="app-footer__brand">ProxyBoard</span>
    <span class="app-footer__divider">•</span>
    <span class="app-footer__text">Developed by</span>
    <a href="https://github.com/nooblk-98" target="_blank" class="app-footer__link">nooblk</a>
  </div>
  <div class="app-footer__right">
    <span class="app-footer__text">Status</span>
    <span class="status-dot {{ 'green' if status.running else 'grey' }}"></span>
    <span class="app-footer__text">{{ 'Running' if status.running else 'Stopped' }}</span>
  </div>
</footer>
